<ul class="main_menu row no-gutters">
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="index.html" class="gap_div">
            <label>Introduction</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="getting-started.html" class="gap_div">
            <label>Getting
                <br>Started</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="dashboard.html" class="gap_div">
            <label>Dashboard</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="leave-management.html" class="gap_div">
            <label>Leave
                <br>Management</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="self-service.html" class="gap_div">
            <label>Self
                <br>Service</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="service-request.html" class="gap_div">
            <label>Service
                <br>Request</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="hr.html" class="gap_div">
            <label>HR</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="recruitments.html" class="gap_div">
            <label>Recruitments</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="background-check.html" class="gap_div">
            <label>Background
                <br>Check</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="organization.html" class="gap_div">
            <label>Organization</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="analytics.html" class="gap_div">
            <label>Analytics</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="site-config.html" class="gap_div">
            <label>Site Config</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="modules.html" class="gap_div">
            <label>Modules</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="logs.html" class="gap_div">
            <label>Logs</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="expenses.html" class="gap_div">
            <label>Expenses</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="assets.html" class="gap_div">
            <label>Assets</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="appraisals.html" class="gap_div">
            <label>Appraisals</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="disciplinary.html" class="gap_div">
            <label>Disciplinary</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="conference-bookings.html" class="gap_div">
            <label>Conference
                <br>Bookings</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="payslips.html" class="gap_div">
            <label>Payslips</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="exit-procedure.html" class="gap_div">
            <label>Exit
                <br>Procedure</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="time.html" class="gap_div">
            <label>Time</label>
        </a>
    </li>
    <li class="col-lg-2 col-md-3 col-sm-4 col_color">
        <a href="additional-features.html" class="gap_div">
            <label>Additional
                <br>Features</label>
        </a>
    </li>
</ul>


<script>

    $(document).ready(function() {

        // Get current page URL
        var url = window.location.href;

        // remove # from URL
        url = url.substring(0, (url.indexOf("#") == -1) ? url.length : url.indexOf("#"));

        // remove parameters from URL
        url = url.substring(0, (url.indexOf("?") == -1) ? url.length : url.indexOf("?"));

        // select file name
        url = url.substr(url.lastIndexOf("/") + 1);

        // If file name not avilable
        if (url == '') {
            url = 'index.html';
        }

        // Loop all menu items
        $('.main_menu li').each(function() {
            // select href
            var href = $(this).find('a').attr('href');
            // Check filename
            if (url === href) {
                // Add active class
                $(this).addClass('select');
            }
        });

        $('a[href*=#]').bind('click', function(e) {
            e.preventDefault(); // prevent hard jump, the default behavior

            var target = $(this).attr("href"); // Set the target as variable

            // perform animated scrolling by getting top-position of target-element and set it as scroll target
            $('html, body').stop().animate({
                scrollTop: $(target).offset().top
            }, 600, function() {
                location.hash = target; //attach the hash (#jumptarget) to the pageurl
            });

            return false;
        });
    });
</script>